* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/saturnWallpeaper.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  height: 100vh;
}

.start {
  text-decoration: none;
  color: white;
  font: 700 2.2rem 'JetBrains Mono';
  transition: 0.5s;
  cursor: pointer;
}

.start:hover {
  filter: brightness(90%);
}

.container {
  margin-top: 50px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
