.nav {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 51px;
  margin-top: 20px;
  flex-direction: row;
  display: flex;
}

.buttonContainer {
  height: 40px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #e55be8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 20px;
  text-decoration: none;
}

.buttonText {
  color: white;
  font: 700 14px 'JetBrains Mono';
}

#homeButton {
  margin-left: 177px;
}

.buttonContainer:hover {
  background-color: #e65be860;
}

.getStartedContainer {
  margin-left: 177px;
  margin-top: 236px;
  width: 297px;
  height: 253px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  cursor: pointer;
}

.getStartedContainer button:hover {
  filter: brightness(80%);
  background-color: #0a0a0a21;
}

.getStartedContainer button:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.getStartedContainer p {
  font: 700 28px 'JetBrains Mono';
  color: white;
  cursor: pointer;
  text-align: center;
}

.getStartedContainer button {
  font: 700 28px 'JetBrains Mono';
  color: white;
  width: 297px;
  height: 81px;
  cursor: pointer;
  border-radius: 35px;
  background-color: #e65be800;
  border: 4px solid white;
  margin-top: 30px;
  font: 700 16px 'JetBrains Mono';
}

@media (max-width: 700px) {
  :root {
    font-size: 62.5%;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .buttonContainer {
    margin-top: 20px;
  }
  .getStartedContainer {
    margin-top: 236px;
    display: flex;
    flex-direction: column;
  }

  #homeButton {
    margin-left: 20px;
  }
}

@media (max-width: 800px) {
  #homeButton {
    margin-left: 20px;
  }
}
